INSEE_API_KEY=
GOOGLE_PLACES_API_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
RESEND_API_KEY=
RESEND_FROM="Solelis <solelis@toakeur.com>"
# En local : http://localhost:3000 ; en production : https://solelis.com
NEXT_PUBLIC_BASE_URL=http://localhost:3000
# Exemple : solelis.com
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=
CRON_SECRET=
